table{
    border-collapse: collapse;

}

table td {
    border: 2px solid grey;
    width:20px;
    height:20px;
    text-align:center;
}
#topBarWrapper{
    border:2px solid black;
    padding:5px;
    display:flex;
    align-items: center;
}
#fileInput {
    margin-left:10px;
}
#mainWrapper {
    display:flex;
    
}
#tableWrapper {
    margin:5px;
}

div#infoBox {
    border: 1px solid black;
    margin:10px;
    padding:5px;
}

h3#cellCoordinates {
    text-align: center;
}

.selectedCell {
    border-right:2px solid red;
    border-bottom:2px solid red;
}